<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">主页</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item pr-3"><a href="/photos">相册</a></li>
                <li class="nav-item pr-3"><a href="/blogs">日志</a></li>
                <li class="nav-item pr-3"><a href="/comments">留言板</a></li>
            </ul>
        </div>
    </nav>
</header>