<div class="uploadBox">
    <label for="image"></label>
    <input id="image" type="file" name="image" accept="image/*" class="filepond">
</div>

<div style="text-align: center;">
    <label for="description">描述</label><br>
    <textarea id="description" name="description" placeholder="为相片添加描述"><%= photo.description %></textarea>
</div>